<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Posts</title>
</head>
<body>
  <h1>Hey</h1>
  <h3>Here is a Recipe:</h3>
  <p><%= "#{@recipe.id}. #{@recipe.name}" %></p>
  <div class="indented">
    <ul>
      <li><%= "#{@recipe.ingredients}" %></li>
      <li><%= "#{@recipe.cook_time}" %></li>
    </ul>
  </div>
</body>
</html>

<form action="/recipes/<%= @recipe.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
